*.obj
*.o
*.bin
*.list
*.map
*.mk
*.makefile
*.o
*.su
*.d
*.elf
*.scvd
*.crf
*.map
*.sct
*.dbgconf
*.axf
*.htm
*.lnp
*.dep
*.uvguix.*
*.lst
*.iex
**/Objects/
**/Listings/
**/Debug/




